table, tr, tbody {
    background-color: rgba(0, 0, 255, 0);
}

.table-section-end {
    padding-bottom: 1.5em !important;
}

.navv {
    position: fixed;
    top: 20px;
    right: 50px;
}

i {
    font-size: x-large;
    padding: 5px;
}

body {
    width: 100%;
    height: 100%;
}

html {
    height: 100%;
}

.section {
    padding: 3rem 3rem;
}

.links {
    margin-right: 10px;
}

.head-section {
    display: flex;
    justify-content: space-between;
}

.title.is-5 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

@media (max-width:768px) { 
    /* for mobile */
    .centre {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile {
        margin-bottom: -50px;
    }

    /* .profile-section {
        padding-top: 0rem;
    } */

    /* .title {
        font-size: 2rem !important;
    } */

    .head-section {
        padding-bottom: 1rem !important;
    }
 } 

 @media (min-width:769px) { 
    /* for desktop */
    .profile {
        float: right;
        /* bottom: 300px; */
     }

    .head-section {
        height: 240px;
    }
    .head-bit {
        padding-top: 3em;
    }
    .profile {
        margin-top: -170px;
        /* margin-right: 1rem; */
    }
 } 

 .profile {
    border: 12px solid white;
    width: 270px;
    border-radius: 50%;
 }



a {
    color: black;
    /* background-color: rgba(255, 0, 0, 0.2); */
    text-decoration: underline;
}

a:hover {
    color: black;
    background-color: rgba(255, 0, 0, 0.15);
  }

.links {
    background-color: rgba(0, 0, 255, 0) !important;
}

.links:hover {
    color: rgba(255, 0, 0, 0.5);
}

.no-bg {
    background-color: rgba(255, 0, 0, 0);
}

.no-bg:hover {
    color: rgba(255, 0, 0, 0.35);
    background-color: rgba(255, 0, 0, 0);
  }

.table {
    background-color: transparent;
    color: black;
}

.table td {
    border: none;
    min-width: 100px;
}

body {
    color: black !important;
}

.container {
    max-width: 780px !important;
}

address {
    font-style: normal;
}

body {
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
    padding-bottom: 10px;
}

.title {
    color: rgb(41, 41, 41);
}

.is-pink {
    background-color: #f5d6e9;
}

.is-green {
    background-color: #c2f4e6;
}

.is-yellow {
    background-color: #fcf0d6;
}

.is-blue {
    background-color: #d1dcf8;
}

.is-white {
    background-color: rgb(231, 229, 231);
}

