table, tr, tbody {
    background-color: rgba(0, 0, 255, 0);
}

.table {
    background-color: transparent;
}

body {
    color: black !important;
}

.container {
    max-width: 780px;
}

address {
    font-style: normal;
}

p {
    margin-bottom: 10px;
}